@{
    ViewBag.Title = "Centric Consulting";
}
<h2>@ViewBag.Title</h2>
<h3>Core Value Recognition</h3>

<p>
    Centric Consulting is an organization built on their core values of:<br />
    <strong>Stewardship</strong>: Someone that embodies responsibility and effective management of the resources at their disposal.<br />
    <strong>Culture</strong>: An employee that is an example of Centric Culture, and portraying Centric's values to clients, peers, and others.<br />
    <strong>Delivery Excellence</strong>: Centric Consulting prides itself on delivering fully functional solutions that exceed the expectations of clients.<br />
    <strong>Innovation</strong>: Innovation is evident through employees being creative and thinking outside the box as employee's build custom solutions for unique business problems.<br />
    <strong>Greater Good</strong>: Centric employees understand that there is a greater good than any individual accomplishment, and the company strives to ignite passion for giving back.<br />
    <strong>Integrity and Openness</strong>: Employees of Centric are expected to show integrity amongst each other and clients through open and transparent communication.<br />
    <strong>Balance</strong>: Centric understands that being an effective employee requires individuals to have balanced life between work, home, and other goals outside of the office.
</p>
