@{
    ViewBag.Title = "Contact Centric Corporate Office";
}
<h2>@ViewBag.Title</h2>
<h3>Centric Corporate Headquarters:</h3>

<style>
    body {
        background-color: #e6e6e6;
    }

    .About {
        background-color: #2A1E5E;
        color: white;
        margin: 20px;
        padding: 20px;
    }

    h2 {
        color: #F0B734;
    }

    p {
        font-size: 16px;
    }
</style>

<address>
    1215 Lyons Rd Bldg F<br />
    Dayton, OH 45458-1858<br />
    Phone: 888.781.7567
</address>
