@{
    ViewBag.Title = "Contact Centric Corporate Office";
}
<h2>@ViewBag.Title</h2>
<h3>Centric Corporate Headquarters: TEST</h3>

<address>
    1215 Lyons Rd Bldg F<br />
    Dayton, OH 45458-1858<br />
    Phone: 888.781.7567
</address>
