@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#2A1E5E;">
    <h1 style="color:whitesmoke">Centric Consulting - Recognitions</h1>
    <p class="lead" style="color:whitesmoke">
        The core values of Centric Consulting are:<br />
        <strong>Stewardship</strong><br /> <strong>Culture</strong><br /> <strong>Delivery Excellence</strong><br /> <strong>Innovation</strong><br /> <strong>Greater Good</strong><br /> <strong>Integrity and Openness</strong><br /> <strong>Balance</strong>
    </p>
    <p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-lg" style="background-color:#F0B734">More About Centric&raquo;</a></p>
</div>

   <div class="row">
       <div class="col-lg-3">
        <h2>Centric Consulting Values</h2>
        <p>
            Centric Consulting emphasizes the need for their employees to display the core values of the company in their work. More on the Core Values can be found here.
        </p>
        <p><a class="btn btn-default" style="background-color:#F0B734" href="https://centricconsulting.com/blog/core-values-solve-tough-problems/">Blog on Centric's Core Values&raquo;</a></p>
    </div>
    <div class="col-lg-3">
        <h2>Business Consulting</h2>
        <p>
            Together we transform your business from the people to the processes.
        </p>
        <p><a class="btn btn-default" style="background-color:#F0B734" href="https://centricconsulting.com/business-consulting/">Learn More &raquo;</a></p>
    </div>
    <div class="col-lg-3">
        <h2>Technology Services</h2>
        <p>
            Together we plan, build and deliver technology to solve problems.
        </p>
        <p><a class="btn btn-default" style="background-color:#F0B734" href="https://centricconsulting.com/business-consulting/">Learn More &raquo;</a></p>
    </div>
    <div class="col-lg-3">
        <h2>Digital Solutions</h2>
        <p>
            Together we define your digital strategy and make marketing work.
        </p>
        <p><a class="btn btn-default" style="background-color:#F0B734" href="https://centricconsulting.com/business-consulting/">Learn More &raquo;</a></p>
    </div>
</div>
